<hr>
<div class="review-box">
	<div class="counter">
		<a id="upvote"><i class="em em-clap"></i></a>
		<p id="score">{{ score }}</p> {{!-- {{Will need to use jquery/ajax to update this number without reloading page}} --}}
		<a id="downvote"><i class="em em-poop"></i></a>
	</div>
	{{#if flagged}}
	<div class="flagged">
		<i class="em em-bangbang"></i>
	</div>
	{{/if}}
	<div class="review-body">
		<h2>{{ title }}</h2>
		<p> Rating: {{rating}} </p>
		<p> Poster: {{poster}} </p>
		<p> {{body}} </p>
	</div>

</div>
</br>