<div class="row">
	<div class="col-sm-12 col-md-6">
		<a href="/users/login"> Login </a>
		<h2 id="title" >{{ show.name }}</h2>
		<img class="show-art"  src="{{ show.thumbnail }}" alt="{{ show.name }} art" height="300" width="200">
		{{#if show.preview}}
			<iframe width="560" height="300" src={{show.preview}} frameborder="0" ></iframe>
		{{/if}}
		<p>Rated: {{ show.rating }}</p>
		<p>Synopsis </br> {{ show.description }}</p>

		<div class="reviews">
			{{#each show.reviews}} {{> review }} {{/each}}
		</div>
		<hr>
		<div class="new-comment">
			<h2> Submit your opinion </h2>
			<form id="review-submit" method="post">
				<input id="review-title" placeholder="Title" type="text" name="title" style="width:400px;"></br>
				<textarea id="review-body" placeholder="Review goes here" name="review" style="width:400px;height:150px;"></textarea></br>
				<input id="review-rating" placeholder="Numerical Rating $100%" type="number" name="rating" style="width:400px;"></br>
				<button id="review-submit-button" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>