<div class="box">
    <h1>{{name}}</h1>
    <div class="info">
        <h2>First Name:</h2>
        <p>{{data.firstName}}</p>
    </div>
    <div class="info">
        <h2>Last Name:</h2>
        <p>{{data.lastName}}</p>
    </div>
    <div class="info">
        <h2>Profession:</h2>
        <p>{{data.profession}}</p>
    </div>
    <div class="info">
        <h2>Bio:</h2>
        <p>{{data.bio}}</p>
    </div>
</div>